
*{
	margin: 0;
	padding: 0;
}
body{
	font-size:14px;
}

.font1{
    color: #3B5888;
}

.font2{
	font-size: 16px;
	font-weight: bold;
}
/* 浅灰色，12像素 */
.font3{
	font-size: 12px;
	color: #808080;
}

.font4{
	color: #808080;
	font-weight: bold;
}

.font5{
	font-weight: bold;
}

.font6{
	font-weight: bold;
	font-size: 20px;
}